<!doctype html>
<html>

<head>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Welcome to Grades App</title>
    {% endif %}
</head>

<body>
    <h1>Hi, {{ current_user.username }}!</h1>
    
    {% if current_user.usertype == 'student' %}
        <p>You are a student</p>
        
        <!-- Display the student's joined classes -->
        <h2>Joined Classes</h2>
        <table>
            <tr>
            <th>Class Name</th>
            <th>Teacher Full Name</th>
            <th>Grade</th>
            <th></th>
            </tr>
            {% for grade in current_user.get_grades() %}
            <tr>
                <td>{{ grade.gclass.classname }}</td>
                <td>{{ grade.gclass.teacher.firstname }} {{ grade.gclass.teacher.lastname }}</td>
                <td>{{ grade.grade }}</td>
                <td>
                    <!-- Leave class button -->
                    <form action="leaveclass" method="POST">
                        <input type="hidden" id="gradetoleave" name="gradetoleave" value="{{ grade.gradeid }}">
                        <input type="submit" value="Leave">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>      
        
        <!-- Join Class Form -->
        <h2>Join a Class</h2>
        <form action="joinclass" method="POST">
            <label for="selected_class">Choose a Class:</label>
            <select id="selected_class" name="selected_class">
                {% for c in args.available_classes %}
                <option value="{{ c.classid }}">{{ c.classname }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Join Class">
        </form>
        
        <!-- Log out -->
        <h2>Logout</h2>
        <form action="logout">
            <input type="submit" value="Logout">
        </form>

        <!-- Delete Account -->
        <h2>Delete Account</h2>
        <form action="deleteaccount" method="POST">
            <input type="submit" value="Delete Account">
        </form>

    
    {% elif current_user.usertype == 'teacher' %}
        <p>You are a teacher</p>

        <!-- Display the classes that the user teaches -->
        <h2>Your Classes</h2>
        {% for c in current_user.get_taught_classes() %}
        <h3>{{ c.classname }}</h3>
        <table>
            <tr>
                <th>Student Name</th>
                <th>Grade</th>
                <th>Change Grade</th>
                <th>Delete Student</th>
            </tr>
            {% for grade in c.get_all_grades() %}
            <tr>
                <td>{{ grade.student.firstname }} {{ grade.student.lastname }}</td>
                <td>{{ grade.grade }}</td>
                <td>
                    <!-- Change Grade -->
                    <form action="changegrade" method="POST">
                        <input type="hidden" id="gradetochange" name="gradetochange" value="{{ grade.gradeid }}">
                        <input type="number" id="newgrade" name="newgrade">
                        <input type="submit" value="Change">
                    </form>
                </td>
                <td>
                    <!-- Delete grade -->
                    <form action="deletegrade" method="POST">
                        <input type="hidden" id="gradetochange" name="gradetochange" value="{{ grade.gradeid }}">
                        <input type="submit" value="Delete">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endfor %}

        <h2>Create New Class</h2>
        <form action="createclass" method="POST">
            <label for="classname">Class Name:</label>
            <input type="text" id="classname" name="classname">
            <input type="submit" value="Create">
        </form>

        <h2>Logout</h2>
        <form action="logout">
            <input type="submit" value="Logout">
        </form>

        <h2>Delete Account</h2>
        <form action="deleteaccount" method="POST">
            <input type="submit" value="Delete Account">
        </form>
    {% endif %} 
</body>

</html>